*, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: wheat;
}

#display {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.buttons {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.buttons > button {
  font-size: 4em;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}