*, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: wheat;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.display-cont {
  display: flex;
  justify-content: center;
}

#display {
  font-size: 3em;
  display: inline-block;
  width: 580px;
  padding: 10px;
  text-align: center;
  background-color: lightcoral;
  border: 2px dotted red;
}

.container {
  display: flex;
  justify-content: center;
}

.buttons {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.buttons > button {
  font-size: 4em;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  background-color: lightblue;
  border: 1px solid black;
}

.buttons > button:hover {
  opacity: 0.8;
}

.buttons > button:active {
  opacity: 0.5;
}